.repoForm {
	flex: 1;
}
.form {
	background: white;
	box-shadow: -3px 5px 13px -6px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: -3px 5px 13px -6px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: -3px 5px 13px -6px rgba(0, 0, 0, 0.6);
	animation: bounceLimit 2s linear infinite;
	padding: 30px 20px;
	border-radius: 8px;
}

.search {
	position: relative;
	display: flex;
}

.search input {
	border: none;
	border-bottom: 1px solid #979797;
	font-size: 18px;
	padding: 5px 10px;
	padding-left: 30px;
	margin-right: 5px;
}
.search .icon {
	position: absolute;
	top: 6px;
	left: 0;
	z-index: 8;
}
.search input:focus {
	outline: none;
}

.search button {
	border: none;
	color: #8b3afc;
	border-radius: 5px;
	padding: 6px 10px;
	transition: .3s;
	font-weight: 500;
	border: 1px solid #8b3afc;
	background: transparent;
}

.search button:hover {
	background: #8b3afc;
	color: #fff;
	cursor: pointer;
}

.search button:disabled {
	background: #ddd;
	/* color: purple; */
	cursor: not-allowed;
	color: #8b3afc;
}

.backdrop[isopen='in'],
.backdrop[iserror='yes'] {
	background-color: rgba(0, 0, 0, 0.507);
	position: absolute;
	left: 0;
	bottom: 0;
	top: 0;
	z-index: 99;
	opacity: 1;
	transform: scale(1);
}
.backdrop[isopen='out'],
.backdrop[iserror='not'] {
	position: absolute;
	left: 0;
	bottom: 0;
	top: 0;
	z-index: 0;
	opacity: 1;
	transform: scale(0);
	transition: .5s ease-in-out transform;
}
.backdrop[isopen='in'] .wrapperRepo,
.backdrop[iserror='yes'] .wrapperError {
	transform: scale(1);
	opacity: 1;
}

.backdrop {
	overflow: hidden;
	transition: .5s;
	height: 0;
	width: 100vw;
	opacity: 0;
	height: 100vh;
	position: fixed;
	transition: .5s ease-in-out opacity;
	transform: scale(0);
}

.backdrop .wrapperRepo,
.backdrop .wrapperError {
	transform: scale(0);
	opacity: 0;
	transition: .5s ease-in-out opacity, .5s ease-in-out transform, 0s ease-in-out height;
}

/* .backdrop[isopen='out'] .wrapperRepo {
	transform: scale(0);
	transition: .5s ease-in-out transform;
} */

.wrapperRepo,
.wrapperError {
	display: flex;
	background: white;
	width: 100%;
	height: -moz-fit-content;
	height: fit-content;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	flex-direction: column;
	padding: 10px 15px 20px;
	width: 90%;
	margin: 30px auto;
	border-radius: 12px;
	transition: .5s;
}
.wrapperError {
	width: 40% !important;
}

.wrapperRepo .top,
.wrapperError .top {
	display: flex;
	justify-content: flex-end;
}

.wrapperRepo .top .icon,
.wrapperError .top .icon {
	border-radius: 100%;
	color: red !important;
	width: 30px;
	height: 30px;
	cursor: pointer;
	border: 2px solid;
	transition: 0.3s;
}

.wrapperRepo .top .icon:hover,
.wrapperError .top .icon:hover {
	background: red;
	color: white !important;
	border-color: red;
}

.wrapperRepo .bottom {
	display: flex;
}
.wrapperError .bottom {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.wrapperError .bottom .icon {
	font-size: 50px !important;
	color: rgb(252, 92, 0);
}

.account {
	flex: 2;
	border-right: 1px solid #eee;
	margin-right: 15px;
	padding: 0 10px;
}

.account .profile {
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
}
.account img {
	width: 200px;
	border-radius: 100%;
	margin-bottom: 10px;
}
.account h3,
.account h5 {
	margin: unset;
}

.account h5 {
	color: #666;
}

.account .profile .bio {
	font-size: 14px;
}
.account .social {
	display: flex;
	flex-direction: column;
	font-size: 14px;
}

.account .social .icon {
	margin-right: 6px;
}

.repositories {
	display: flex;
	flex-direction: column;
	flex: 5;
}
.repositories > .topTitle {
	font-weight: 400;
}

.repositories .bottom {
	flex: 3;
	display: flex;
	flex-wrap: wrap;
	overflow-y: scroll;
	max-height: 510px;
	justify-content: space-between;
}

.repositories .cardRepo {
	width: 250px;
	border: 1px solid #eee;
	height: 110px;
	padding: 10px;
	margin: 10px 0;
	border-radius: 4px;
	font-size: 13px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.repositories .cardRepo h6 {
	font-size: 15px;
}
.repositories .cardRepo .description {
	color: #555;
}
.repositories .cardRepo .lang {
	font-size: 11px;
	border-radius: 9px;
	border: 1px solid rgb(218, 218, 218);
	padding: 2px 4px;
}
.repositories .cardRepo .lang:before {
	content: '</> : ';
	font-weight: bold;
}

/* overflow: hidden !important;
word-wrap: break-word !important;
text-overflow: ellipsis !important;
border: 1px solid red; */
