.page-section {
	position: relative;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

@keyframes bounceLimit {
	0%,
	50%,
	100% {
		transform: translateY(0);
	}
	25% {
		transform: translateY(4px);
	}
	75% {
		transform: translateY(-4px);
	}
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}
